{% extends "layout.html"}

{% block body %}
<!-- Presentacion de NQSUF -->
    <div id="ww">
	    <div class="container">
			<div class="row">
					<h1>Bienvenidos a NO QUIERO SER UN FEEDER!</h1>
					<p>En nuestra plataforma encontrarás las estadísticas necesarias para tomar las mejores decisiones en la grieta!  </p>
					<p>Con todo lo aprendido SACA EL CHALLENGER QUE TIENES DENTRO!</p>
			</div><!-- /row -->
	    </div> <!-- /container -->
	</div><!-- /ww -->


	<!-- +++++ Projects Section +++++ -->

	<div class="container pt">
		<div class="row mt centered">
			<div class="col-lg-4">
				<a class="zoom green" href={{ url_for("work01_page") }}><img class="img-responsive" src="{{url_for('static', filename = 'img/portfolio/campeones.png')}}" alt="" /></a>
				<p>Busca por Campeón</p>
			</div>
			<div class="col-lg-4">
				<a class="zoom green" href={{ url_for("work01_page") }}><img class="img-responsive" src="{{url_for('static', filename = 'img/portfolio/equipo.png')}}" alt="" /></a>
				<p>Busca por Equipos</p>
			</div>
			<div class="col-lg-4">
				<a class="zoom green" href={{ url_for("work01_page") }}><img class="img-responsive" src="{{url_for('static', filename = 'img/portfolio/season.png')}}" alt="" /></a>
				<p>Busca por Season</p>
			</div>
		</div><!-- /row -->
		<div class="row mt centered">
			<div class="col-lg-4">
				<a class="zoom green" href={{ url_for("work01_page") }}><img class="img-responsive" src="{{url_for('static', filename = 'img/portfolio/port04.jpg')}}" alt="" /></a>
				<p>Busca por Invocador</p>
			</div>
			<div class="col-lg-4">
				<a class="zoom green" href={{ url_for("work01_page") }}><img class="img-responsive" src="{{url_for('static', filename = 'img/portfolio/port05.jpg')}}" alt="" /></a>
				<p>Busca por Fecha</p>
			</div>
			<div class="col-lg-4">
				<a class="zoom green" href={{ url_for("work01_page") }}><img class="img-responsive" src="{{url_for('static', filename = 'img/portfolio/port06.jpg')}}" alt="" /></a>
				<p>HOLA</p>
			</div>
		</div><!-- /row -->
	</div><!-- /container -->

{% endblock %}