<!doctype html>
<head>
    <title>
    Lolapp
    </title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
</head>
    <div>
        <form action = "http://cc3201.dcc.uchile.cl/grupo07/handle_data" method="post">
            <input type="text" name="projectFilepath">
            <input type="submit" value = "Go">
        </form>
    </div>